<footer class="footer">
    <nav class="nav justify-content-center">
        <a class="nav-link disabled">Made by Roberto Rufino<a class="nav-link active" href="https://github.com/robruf">Github</a>
        </nav>
</footer>
    
    </body>
</html>