<% include ./partials/header %>

<form action="/" method="POST">
    <div class="container">
        <div class="form-group">
            <label>Express yourself!</label>
            <textarea name="thought" class="form-control" rows="3" placeholder="Type your thought here..."></textarea>
         </div>
         <button class="btn btn-primary btn-lg btn-block">Submit your thought!</button>
    </div>
</form>

